{% extends "layout2.html" %}

{% block body %}
<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    {% for creature in creatures %}
    <tr>
        <td>{{ creature.name }}</td>
        <td>
            <form method="GET" action="{{ url_for('open_creature', creature_id=creature.id, campaign_id=campaign_id) }}">
                <input type="submit" value="Open creature"/>
            </form>
        </td>
    </tr>
    {% else %}
    <tr></tr>
        <td>It's strangely empty. Perhaps you should add a creature here.</td>
        <td></td>
    {% endfor %}
</table>
{% endblock %}