{% extends "layout2.html" %}

{% block body %}
<script src="/static/filter.js"></script> 
<div class="container">
    <a class="nav-link" href="{{ url_for('creatures_form', campaign_id=campaign_id) }}">Add a creature</a>

    <input class="form-control mb-4" id="tableSearch" type="text" onkeyup="myFunction()"
      placeholder="Type something to search list items">
  
    <table id="myTable" class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for creature in creatures %}
            <tr>
                <td>{{ creature.name }}</td>
                <td>{{ creature.type }}</td>
                <td>
                    <form method="GET" action="{{ url_for('open_creature', creature_id=creature.id, campaign_id=campaign_id) }}">
                        <input type="submit" class="btnSubmit" value="Open creature"/>
                    </form>
                </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}