{% extends "layout.html" %}

{% block body %}
<table style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Notes</th>
        <th></th>
    </tr>
    {% for creature in creatures %}
    <tr>
        <td>{{ creature.name }}</td>
        <td>{{ creature.type }}</td>
        <td>{{ creature.size }}</td>
        <td>{{ creature.notes }}</td>
        <td>
            <form method="POST" action="{{ url_for('remove_creature', creature_id=creature.id) }}">
                <input type="submit" value="Remove creature"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}