{% extends "layout2.html" %}

{% block body %}
<a class="customLink" href="{{ url_for('open_creature', creature_id=creature.id, campaign_id=campaign_id) }}">Back to creature</a>

<h1>Modify creature: {{ creature.name }}</h1>
<form method="POST" action="{{ url_for('modify_creature', creature_id=creature.id, campaign_id=campaign_id) }}">
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Creature type</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.type(autofocus=true, class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.type.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Creature size</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.size(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.size.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group"  style="width: 100%;">
            <label class="label-group">Description about the creature</label>
            <small class="helpBlock">
                Description is optional
            </small>
            {{ form.description(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Modify creature" />
    </div>
</form>
{% endblock %}