{% extends "layout2.html" %}

{% block body %}
<a class="nav-link" href="{{ url_for('creatures_index', campaign_id=campaign_id) }}">Back to list</a>

<p>Modify creature: {{ creature.name }}</p>
<form method="POST" action="{{ url_for('modify_creature', creature_id=creature.id, campaign_id=campaign_id) }}">
    <div class="form-group">
        {{ form.type(class_="form-control") }}
        <small id="helpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        {{ form.size(class_="form-control") }}
        <small id="helpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        {{ form.description(class_="form-control") }}
        <small id="helpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Modify creature" />
    </div>
    <div class="error-group">
        {{ error }}
    </div>
</form>
{% endblock %}