{% extends "layout.html" %}

{% block body %}

<p>Modify creature: {{ creature.name }}</p>
<form method="POST" action="{{ url_for('modify_creature', creature_id=creature.id) }}">
    <table>
        <tr>
            <td>
                {{ form.type.label }}
            </td>
            <td>
                {{ form.type }}
            </td>
            <td>
                <ul>
                  {% for error in form.type.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </td>
        </tr>
        <tr>
            <td>
                {{ form.size.label }}
            </td>
            <td>
                {{ form.size }}
            </td>
            <td>
                <ul>
                  {% for error in form.size.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </td>
        </tr>
        <tr>
            <td>
                {{ form.notes.label }}
            </td>
            <td>
                {{ form.notes }}
            </td>
            <td>
                <ul>
                  {% for error in form.notes.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Modify the creature"/>
            </td>
        </tr>
</form>
{% endblock %}