{% extends "layout2.html" %}
{% block body %}
<h1>Add a new creature</h1>

<a class="customLink" href="{{ url_for('creatures_index', campaign_id=campaign_id) }}">Back to list</a>
<form method="POST" action="{{ url_for('creatures_create', campaign_id=campaign_id) }}">
    {{ form.csrf_token }}
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Creature's name</label>
                <small class="helpBlock">
                    Minimun length: 2 characters
                </small>
                {{ form.creature_name(autofocus=true, class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.creature_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Creature's type</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.type(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.type.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Creature's size</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.size(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.size.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group"  style="width: 100%;">
            <label class="label-group">Description about the creature</label>
            <small class="helpBlock">
                Description is optional
            </small>
            {{ form.description(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Add a new creature" />
    </div>
</form>
{% endblock %}