{% extends "layout2.html" %}
{% block body %}
<a class="nav-link" href="{{ url_for('creatures_index', campaign_id=campaign_id) }}">Back to list</a>
<div class="error-group">
    {{ error }}
</div>
<form method="POST" action="{{ url_for('creatures_create', campaign_id=campaign_id) }}">
    <div class="form-group">
        {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.type(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.size(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description(class_="form-control") }}
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Add a new creature" />
    </div>
</form>
{% endblock %}