{% extends "layout2.html" %}

{% block body %}
<script src="/static/filter.js"></script> 
<div class="container">
    <a class="nav-link" href="{{ url_for('npcs_form', campaign_id=campaign_id) }}">Add an NPC</a>
    <input class="form-control mb-4" id="tableSearch" type="text" onkeyup="myFunction()"
      placeholder="Type something to search list items">
  
    <table id="myTable" class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for npc in npcs %}
            <tr>
                <td>{{ npc.name }}</td>
                <td>{{ npc.location }}</td>
                <td>
                    <form method="GET" action="{{ url_for('open_npc', npc_id=npc.id, campaign_id=campaign_id) }}">
                        <input type="submit" class="btnSubmit" value="Open NPC"/>
                    </form>
                </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}