{% extends "layout2.html" %}

{% block body %}
<a class="customLink" href="{{ url_for('open_npc', npc_id=npc.id, campaign_id=campaign_id) }}">Back to NPC</a>

<p>Modify NPC: {{ npc.name }}</p>
<form method="POST" action="{{ url_for('modify_npc', npc_id=npc.id, campaign_id=campaign_id) }}">
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">NPC's race</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.race(autofocus=true, class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.race.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">NPC's location</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.location(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.location.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">NPC's occupation</label>
                <small class="helpBlock">
                    Minimun length: 2 characters. If unknown, enter "--"
                </small>
                {{ form.occupation(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.occupation.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group"  style="width: 100%;">
            <label class="label-group">Description about the NPC</label>
            <small class="helpBlock">
                Description is optional
            </small>
            {{ form.description(class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Modify NPC" />
    </div>
</form>
{% endblock %}