{% extends "layout2.html" %}

{% block body %}
<a class="nav-link" href="{{ url_for('npcs_index', campaign_id=campaign_id) }}">Back to list</a>

<p>Modify NPC: {{ npc.name }}</p>
<form method="POST" action="{{ url_for('modify_npc', npc_id=npc.id, campaign_id=campaign_id) }}">
    <div class="form-group">
        {{ form.race(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.location(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.occupation(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description(class_="form-control") }}
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Modify the NPC" />
    </div>
    <div class="error-group">
        {{ error }}
    </div>
</form>
{% endblock %}