{% extends "layout2.html" %}
{% block body %}
<a class="nav-link" href="{{ url_for('npcs_index', campaign_id=campaign_id) }}">Back to list</a>

<form method="POST" action="{{ url_for('npcs_create', campaign_id=campaign_id) }}">
    <div class="error-group">
        {{ error }}
    </div>
    <div class="form-group">
        {{ form.name(class_="form-control") }}
        <small id="nameHelpBlock" class="form-text">
            Minimun length: 2 characters
        </small>
    </div>
    <div class="form-group">
        {{ form.race(class_="form-control") }}
        <small id="nameHelpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        {{ form.location(class_="form-control") }}
        <small id="nameHelpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        {{ form.occupation(class_="form-control") }}
        <small id="nameHelpBlock" class="form-text">
            Minimun length: 2 characters. If unknown, enter "--"
        </small>
    </div>
    <div class="form-group">
        {{ form.description(class_="form-control") }}
        <small id="nameHelpBlock" class="form-text">
            Description is optional
        </small>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Add a new NPC" />
    </div>
</form>
{% endblock %}