{% extends "layout.html" %}

{% block body %}
<p>Notice: All art used in Vicipaedia Arcanum is in <a href="https://en.wikipedia.org/wiki/Public_domain" target="_blank">the public domain</a> (free of copyright restrictions).</p>

<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3 bg-light">
            <a href="http://cprhw.tt/o/2C6xn/" target="_blank"><img class="card-img-top" src="/static/images/Studies of Dragons.jpg" alt=""></a>
            <div class="card-body">
                <a class="nav-link" href="http://cprhw.tt/o/2C6xn/" target="_blank">
                    <p class="card-title">Drawing, Studies of a dragon, ca. 1560–1600; Italy; brush and 
                    watercolor, pen and black ink on laid paper; verso: black chalk, pen and ink on laid paper; H x W: 37.5 x 27.1 cm 
                    (14 3/4 x 10 11/16 in.); Museum purchase through gift of various donors and from Eleanor G. Hewitt Fund; 1938-88-2601
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3 bg-light">
            <a href="http://cprhw.tt/o/2DnKa/" target="_blank"><img class="card-img-top" src="/static/images/The Little Executioner.jpg" alt=""></a>
            <div class="card-body">
                <a class="nav-link" href="http://cprhw.tt/o/2DnKa/" target="_blank">
                    <p class="card-title">Print, The Little Executioner, illustration to John Evelyn, 
                    "Sculptura", 1662; Print Maker: Prince Rupert (German, 1619 – 1682); Germany; mezzotint on off-white laid paper; Gift of 
                    Leo Wallerstein; 1948-133-22</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}