{% extends "layout.html" %}

{% block body %}
  <h1>
    Welcome to Vicipaedia Arcanum!
  </h1>
  <p>Vicipaedia Arcanum (from now on referred to as VA) is an encyclopedia for tabletop RPG games. With VA, you and your party can track creatures 
    and NPCs you have encountered during your travels.</p>
  <p>To get started, first <a href="{{ url_for('auth_login') }} " class="customLink">create an account</a>. Then you can either create a new campaign or
  join an existing one.</p>
  <p><a href="https://github.com/tire95/Vicipaedia-Arcanum" target="_blank" class="customLink">You can check the source code, installation guide, and user guide here</a>.</p>
{% endblock %}