{% extends "layout2.html" %}

{% block body %}

<h1>Admin view</h1>

<div class="container">
  <form method="GET" action="{{ url_for('campaigns_change_password', campaign_id=campaign_id) }}">
    <input type="submit" class="btnSmall" value="Change password"/>
  </form>
  <form method="GET" action="{{ url_for('campaigns_remove', campaign_id=campaign_id) }}">
    <input type="submit" class="btnSmall" value="Delete campaign"/>
  </form>
  {% if accounts is defined %}

  <table id="myTable" class="table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr>
            <td>{{ account.name }}</td>
            <td>
              <form method="POST" action="{{ url_for('campaigns_remove_account', account_id=account.id, campaign_id=campaign_id) }}">
                <input type="submit" class="btnSubmit" value="Remove account from campaign"/>
              </form>
            </td>
          </tr>
        {% endfor %}  
      </tbody>
  </table>
  {% endif %}
</div>


{% endblock %}