{% extends "layout2.html" %}

{% block body %}

<h1>Change campaign's password</h1>
<form method="POST" action="{{ url_for('campaigns_change_password', campaign_id=campaign_id) }}">
    {{ form.csrf_token }}
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">Old password</label>
                <small class="helpBlock">
                    If there is no old password, leave this blank
                </small>
                {{ form.old_password(autofocus=true, class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.old_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span-custom">
            <div class="form-group">
                <label class="label-group">New password</label>
                {{ form.new_password(class_="form-control") }}
            </div>
        </div>
        <div class="span4">
            <div class="error-group">
                {% for error in form.new_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Change password" />
    </div>
</form>

{% endblock %}