{% extends "layout.html" %}

{% block body %}
<h1>You have joined {{ number_of_joined_campaigns }} campaigns</h1>

<p>Want more campaigns? <a class="customLink" href="{{ url_for('campaigns_list_not_joined') }}">Click here.</a></p>

<div class="container">
    <table id="myTable" class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Game system</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in joined_campaigns %}
            <tr>
                <td>{{ campaign.campaign_name }}</td>
                <td>{{ campaign.game_system }}</td>
                <td>
                    <form method="GET" action="{{ url_for('campaigns_view', campaign_id=campaign.id) }}">
                        <input type="submit" class="btnSubmit" value="Enter campaign"/>
                    </form>
                </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}