{% extends "layout.html" %}

{% block body %}
<script src="/static/filter.js"></script>
<p>You have joined {{ number_of_joined_campaigns }} campaigns</p>
{% for campaign in joined_campaigns %}
<a class="customLink" href="{{ url_for('campaigns_view', campaign_id=campaign.id) }}">{{ campaign.name }}</a>
<p></p>
{% else %}
<p>Looks like you've not joined any campaign. Join a campaign below.</p>
{% endfor %}

<p>Other campaigns:</p>

<div class="container">
    <input class="form-control mb-4" id="tableSearch" type="text" onkeyup="myFunction()"
      placeholder="Type something to search list items">
  
    <table id="myTable" class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Game system</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in not_joined_campaigns %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.game_system }}</td>
                <td>
                    <form method="GET" action="{{ url_for('campaigns_view', campaign_id=campaign.id) }}">
                        <input type="submit" class="btnSubmit" value="Join campaign"/>
                    </form>
                </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}