{% extends "layout.html" %}

{% block body %}
{{ error }}
<p>Join the campaign by giving the password below</p>
<form method="POST" action="{{ url_for('campaigns_register', campaign_id=campaign_id) }}">
  <table>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
      <td>
            <ul>
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
      </td>
    </tr>
        <td colspan="2">
            <input type="submit" value="Join"/>
        </td>
    </tr>
</form>
{% endblock %}