{% extends "layout2.html" %}

{% block body %}

<div class="card-group">
  <div class="card mb-3 bg-light">
    <a href="{{ url_for('creatures_index', campaign_id=campaign_id) }}"><img class="card-img-top" src="/static/images/Studies of Dragons-cropped.jpg" alt=""></a>
    <div class="card-body">
      <a class="nav-link" href="{{ url_for('creatures_index', campaign_id=campaign_id) }}"><h5 class="card-title">Creatures: {{number_of_creatures}}</h5></a>
    </div>
  </div>
  <div class="card mb-3 bg-light">
    <a href="{{ url_for('npcs_index', campaign_id=campaign_id) }}"><img class="card-img-top" src="/static/images/The Little Executioner.jpg" alt=""></a>
    <div class="card-body">
      <a class="nav-link" href="{{ url_for('npcs_index', campaign_id=campaign_id) }}"><h5 class="card-title">NPCs: {{number_of_npcs}}</h5></a>
    </div>
  </div>
</div>
{% endblock %}