{% extends "layout.html" %}

{% block body %}
<div class="container login-container">
      <div class="row">
            <div class="col-md-6 login-form-1">
                  <h3>Login</h3>
                  <form method="POST" action="{{ url_for('auth_login') }}">
                        {{ form.csrf_token }}
                        <div class="form-group">
                              {{ form.name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              {{ form.password(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                              <a href="#" class="btnForgetPwd">Forget Password?</a>
                        </div>
                        <div class="error-group">
                              {{ error }}
                              {{ form.error }}
                        </div>
                  </form>
            </div>
            <div class="col-md-6 login-form-2">
                  <div class="login-logo">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                  </div>
                  <h3>Register</h3>
                  <form method="POST" action="{{ url_for('auth_register') }}">
                        {{ register_form.csrf_token }}
                        <div class="form-group">
                              {{ register_form.register_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              {{ register_form.register_password(class_="form-control") }}
                              <small id="passwordHelpBlock" class="form-text">
                                    Your password must be at least 8 characters long
                              </small>
                        </div>
                        <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Register" />
                        </div>
                        <div class="error-group">
                              {{ register_error }}
                              {{ register_form.error }}
                        </div>
                  </form>
            </div>
      </div>
</div>
{% endblock %}