{% extends "layout.html" %}

{% block body %}
<div class="container login-container">
      <div class="row">
            <div class="col-md-6 login-form-1">
                  <h1>Login</h1>
                  <form method="POST" action="{{ url_for('auth_login') }}">
                        {{ form.csrf_token }}
                        <div class="form-group">
                              <label class="label-group">Username</label>
                              {{ form.name(autofocus=true,class_="form-control") }}
                        </div>
                        <div class="form-group">
                              <label class="label-group">Password</label>
                              {{ form.password(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                              <a href="https://lmgtfy.com/?q=How+to+remember+passwords&s=d&iie=1" target="_blank" class="customLink">Forget Password?</a>
                        </div>
                        <div class="error-group">
                              {{ error }}
                              {{ form.error }}
                        </div>
                  </form>
            </div>
            <div class="col-md-6 login-form-2">
                  <div class="login-logo">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                  </div>
                  <h1>Register</h1>
                  <form method="POST" action="{{ url_for('auth_register') }}">
                        {{ register_form.csrf_token }}
                        <div class="form-group">
                              <label class="label-group">Username</label>
                              <small class="helpBlock">
                                    Minimun length: 2 characters
                              </small>
                              {{ register_form.register_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              <label class="label-group">Password</label>
                              <small class="helpBlock">
                                    Minimun length: 8 characters
                              </small>
                              {{ register_form.register_password(class_="form-control") }}
                        </div>
                        <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Register" />
                        </div>
                        <div class="error-group">
                              {{ register_error }}
                              {% for error in register_form.register_name.errors %}
                              {{ error }}
                              {% endfor %}
                        </div>
                  </form>
            </div>
      </div>
</div>
{% endblock %}